<div class="tabular settings">
	<p>
		<label><%= l('favourite_projects.views.settings.modify_project_jump_list') %></label>
		<%= check_box_tag("settings[modifyProjectJumpList]",0,@settings['modifyProjectJumpList']) %>
		<br />
	</p>
</div>
