<% if (calculated_favourite_projects_settings['modifyTopMenu']) %>
<div id="fav_projs">
<% User.current.ordered_favourite_projects.each do |fav|%>
	<li><%= link_to_project fav.project, {}, :class => 'icon icon-projects' %></li>
<% end %>
</div>
  <script>
  (function() {
    var fav_projs_ = document.getElementById("fav_projs"),
      fav_menu_ = document.getElementById("favourite-menu");

			// Inject projects before menu, and dispose old menu container after
     fav_menu_.parentNode.insertBefore(fav_projs_, fav_menu_);
     fav_menu_.parentNode.removeChild(fav_menu_);
	  })();
  </script>
<% end %>
