<% if (Setting.plugin_redmine_favourite_projects['modifyTopMenu']) %>
<div id="fav_projs">
<% FavouriteProject.find(:all, :conditions => "user_id = #{User.current.id}",:include => :project, :order => 'projects.name').each do |fav|%>
    <% if (!fav.project.nil?) %>
	<li><%= link_to fav.project, {:controller => 'projects', :action => fav.project.identifier}, :class => 'icon icon-projects' %></li>
    <% end %>
<% end %>
</div>
  <script>
  fav_projs_ = document.getElementById("fav_projs");
  fav_menu_ = document.getElementById("favourite-menu");
  fav_menu_.innerHTML = fav_projs_.innerHTML;
  fav_projs_.innerHTML = "";
  </script>
<% end %>